absl-py==2.3.1
altair==4.2.2
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
asttokens==3.0.0
astunparse==1.6.3
attrs==25.3.0
blinker==1.9.0
blis @ file:///D:/bld/cython-blis_1743735413029/work
bqplot==0.12.45
branca==0.8.1
Brotli @ file:///D:/bld/brotli-split_1749229870877/work
cachetools==5.5.2
catalogue @ file:///D:/bld/catalogue_1736092443975/work
certifi==2025.7.14
cffi @ file:///D:/bld/cffi_1725560792189/work
charset-normalizer==3.4.2
click==8.1.8
cloudpathlib @ file:///home/conda/feedstock_root/build_artifacts/cloudpathlib-meta_1747331907086/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1736947526808/work
colorama==0.4.6
colour==0.1.5
comm==0.2.2
confection @ file:///home/conda/feedstock_root/build_artifacts/confection_1740630664356/work
contourpy==1.3.0
cycler==0.12.1
cymem @ file:///D:/bld/cymem_1737125900970/work
debugpy==1.8.15
decorator==5.2.1
earthengine-api==1.6.0
eerepr==0.1.2
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
entrypoints==0.4
exceptiongroup==1.3.0
executing==2.2.0
fastjsonschema @ file:///C:/b/abs_4ev90296ly/croot/python-fastjsonschema_1731939386416/work
flatbuffers==25.2.10
folium==0.20.0
fonttools==4.59.0
future==1.0.0
gast==0.4.0
geemap==0.35.3
geocoder==1.38.1
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.25.1
google-api-python-client==2.176.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.4.3
google-cloud-storage==3.2.0
google-crc32c==1.7.1
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
grpcio==1.73.1
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
h5py==3.14.0
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httplib2==0.22.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna==3.10
imbalanced-learn==0.12.4
importlib_metadata==8.7.0
importlib_resources==6.5.2
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipykernel==6.29.5
ipyleaflet==0.20.0
ipython==8.18.1
ipytree==0.2.2
ipywidgets==8.1.7
jedi==0.19.2
Jinja2==3.1.6
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1748019130050/work
jsonschema==4.24.1
jsonschema-specifications==2025.4.1
jupyter-leaflet==0.20.0
jupyter_client==8.6.3
jupyter_core @ file:///C:/b/abs_7c6fipznw3/croot/jupyter_core_1751991383524/work
jupyterlab_widgets==3.0.15
keras==2.11.0
kiwisolver==1.4.7
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1734376437639/work
language_data @ file:///home/conda/feedstock_root/build_artifacts/language-data_1732032415021/work
libclang==18.1.1
llvmlite==0.43.0
marisa-trie @ file:///D:/bld/marisa-trie_1736179030257/work
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.4
matplotlib-inline==0.1.7
mdurl==0.1.2
ml_dtypes==0.5.1
murmurhash @ file:///D:/bld/murmurhash_1728933072026/work
namex==0.1.0
narwhals==1.47.1
nbformat @ file:///C:/b/abs_c2jkw46etm/croot/nbformat_1728050303821/work
nest-asyncio==1.6.0
nltk==3.8.1
numba==0.60.0
numpy==1.23.5
oauthlib==3.3.1
opt_einsum==3.4.0
optree==0.16.0
packaging==25.0
pandas==2.3.1
parso==0.8.4
pillow==11.3.0
platformdirs @ file:///C:/b/abs_ddh15014or/croot/platformdirs_1744273060660/work
plotly==6.2.0
preshed @ file:///D:/bld/preshed_1728945745457/work
prompt_toolkit==3.0.51
proto-plus==1.26.1
protobuf==6.31.1
psutil==7.0.0
pure_eval==0.2.3
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycountry==24.6.1
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1749927112905/work
pydantic_core @ file:///D:/bld/bld/rattler-build_pydantic-core_1746625408/work
pydeck==0.9.1
Pygments==2.19.2
Pympler==1.1
pyogrio==0.11.1
pyparsing==3.2.3
pyperclip==1.9.0
pyproj==3.6.1
pyshp==2.3.1
PySocks @ file:///D:/bld/pysocks_1733217287171/work
python-box==7.3.2
python-dateutil==2.9.0.post0
pytz==2025.2
pytz-deprecation-shim==0.1.0.post0
pywin32==311
pyzmq==27.0.0
ratelim==0.1.6
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
requests-oauthlib==2.0.0
rich==14.0.0
rpds-py==0.26.0
rsa==4.9.1
scikit-learn==1.2.2
scipy @ file:///C:/bld/scipy-split_1716470385682/work/dist/scipy-1.13.1-cp39-cp39-win_amd64.whl#sha256=490e922ef930c40e74290d95915a98295b9059d02849059317bab82ba7810581
scooby==0.10.1
seaborn==0.13.2
semver==3.0.4
shap==0.48.0
shapely==2.0.7
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1733300899265/work
six==1.17.0
slicer==0.0.8
smart_open @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_smart_open_1752113562/work/dist
smmap==5.0.2
spacy @ file:///D:/bld/spacy_1751804054845/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1674550301837/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1694527114282/work
srsly @ file:///D:/bld/srsly_1740609662091/work
stack-data==0.6.3
streamlit==1.47.1
tenacity==8.5.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.1.0
thinc @ file:///D:/bld/thinc_1751798553881/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
toml==0.10.2
toolz==1.0.0
tornado==6.5.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traitlets @ file:///C:/b/abs_bfsnoxl4pq/croot/traitlets_1718227069245/work
traittypes==0.2.1
typer==0.16.0
typer-slim==0.16.0
typing-inspection @ file:///home/conda/feedstock_root/build_artifacts/typing-inspection_1747870647094/work
typing_extensions==4.14.1
tzdata==2025.2
tzlocal==5.3.1
ujson @ file:///D:/bld/ujson_1724954498610/work
uritemplate==4.2.0
urllib3==2.5.0
validators==0.35.0
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1740630716360/work
watchdog==6.0.0
wcwidth==0.2.13
weasel @ file:///home/conda/feedstock_root/build_artifacts/weasel_1734270156651/work
Werkzeug==3.1.3
widgetsnbextension==4.0.14
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
wordcloud==1.9.4
wrapt==1.14.1
xgboost @ file:///D:/bld/xgboost-split_1744329010901/work/python-package
xyzservices==2025.4.0
zipp==3.23.0
zstandard==0.23.0
